@model ASI.Basecode.Data.Models.Book

<div class="container pt-5">
    <h1>Create A Book</h1>

    <form method="post" asp-action="Create">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" asp-for="Title" placeholder="Title....">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Author</label>
            <input type="text" class="form-control" asp-for="Author" placeholder="Author's name....">
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" asp-for="Description" placeholder="Description...."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}