<!-- Footer -->
<footer class="bg-[#F0FFF9] p-8 border-t border-black/10 flex flex-col md:flex-row justify-between items-center gap-4 px-4 md:px-8">
    <div class="flex items-center gap-2 text-xl font-semibold text-acadus-green">
        <img src="~/img/acaduslogo.png" alt="Acadus Logo" class="h-12" />
        <div class="text-[#295239] font-bold text-3xl">
            Acadus
        </div>
    </div>
    <a href="#top" class="text-gray-600 font-bold hover:text-gray-800 transition-colors">Back to top</a>
    <div class="text-gray-600 text-sm">© 2025 Acadus || Version 1.0.0</div>
</footer>
