@{
    ViewData["Title"] = "Teachers - Acadus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Teachers</h3>
                    <div class="card-tools">
                        <a href="@Url.Action("AddTeacher")" class="btn btn-primary">
                            <i class="bi bi-person-plus"></i> Add Teacher
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <p class="text-muted">Teacher management functionality will be implemented here.</p>
                </div>
            </div>
        </div>
    </div>
</div>